@model BackOffice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BackOffice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Empresa.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreBo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreBo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoBo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoBo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recorrido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recorrido)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdBackOffice }) |
    @Html.ActionLink("Back to List", "Index")
</p>
