@model IEnumerable<BackOffice>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Empresa.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreBo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoBo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recorrido)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Empresa.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreBo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoBo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recorrido)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdBackOffice }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdBackOffice }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdBackOffice })
        </td>
    </tr>
}

</table>
